@page
@model SistemaIntegralCYA.App.Frontend.Pages.router.BDClientes
@{
}

<h1>CLIENTES</h1>
<table class="table">
    @foreach(var cliente in Model.clientes)
    {          
        <tr>
            <th>@cliente.Id</th>
            <th>@cliente.Nombre</th>
            <th>@cliente.Apellido</th>
            <th>@cliente.NumeroTelefono</th>
            <th>@cliente.CorreoElectronico</th>
        </tr>        
    }
</table>
